main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-cell {
  margin: 0;
  border: 1px solid olivedrab;
  background-color: lavender;
}

.level-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
  margin: 5% auto;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
}

label {
  display: flex;
  flex-direction: column;
}

label {
  margin: 5% ;
}

.startBtn {
  max-width: 300px;
  background-color: lemonchiffon;
  padding: 2%;
  border: none;
  border-radius: 15%;
}

.field {
  gap: 0;
  display: grid;
  margin: 5% auto;
}

.button-cell_opened {
  background-color: lavenderblush;
}
.cell_green {
  color: olivedrab;
}
.cell_yellow {
  color: darkgoldenrod;
}
.cell_l-blue {
  color: lightblue;
}
.cell_blue {
  color: blue;
}
.cell_l-purple {
  color: lightpink;
}
.cell_purple {
  color: purple;
}
.cell_red {
  color: red;
}
.cell_d-red {
  color: darkred;
}
